<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>	<!--Change the Data Source attribute of the connection string to your own local server to run this application. Also add username and password attributes if you have them defined-->
		<add name="RockPaperScissorsDbConn" connectionString="Data Source = (localdb)\MSSQLLocalDB ; Initial Catalog = RockPaperScissorsDatabase;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>